<!-- Toolbar -->
<app-toolbar></app-toolbar>

<div class="content" role="main">
  <app-connect></app-connect>

  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>
  <app-doc></app-doc>

  <!-- Next Steps -->
  <h2>Next Steps</h2>
  <p>Obtain user profile data, after connecting with TropiPay!</p>
  <p> <b>To connect to TropiPay using the customer credential flow or API Key, click on the red button!</b></p>
  <app-cli></app-cli>

  <!-- Footer -->
  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>
